@model IEnumerable<Domain.Trophee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTrophee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recompense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeTrophee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTrophee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recompense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeTrophee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe.EquipeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TropheeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TropheeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TropheeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
